video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  #contenedor-video {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .logo {
    width: 30%;
    height: 100%;
  }
  
  .container-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }